<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
<connectionStrings>
	<add name="RDVMedicalEntities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5S9FE2S\DANY;initial catalog=RDVMedical;user id=sa;password=ephec;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="RDVMedicalEntities_Patients" connectionString="metadata=res://*/db_Patients.csdl|res://*/db_Patients.ssdl|res://*/db_Patients.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-5s9fe2s\DANY;initial catalog=RDVMedical;user id=Patient;password=ephec;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="RDVMedicalEntities_Medecins" connectionString="metadata=res://*/db_Medecins.csdl|res://*/db_Medecins.ssdl|res://*/db_Medecins.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-5s9fe2s\dany;initial catalog=RDVMedical;user id=Medecin;password=ephec;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>